.mainDiv{
    /* max-width: 27.5rem; */
    max-width: 30rem;
    min-width: 20rem;
    border: 1px solid;
    border-radius: 2rem;
    background-color: black;
    color: white;
    max-height: 40rem;
    font-size: 2rem;
    padding: 1.5rem;
}
