/* @media only screen and (min-width: 1024px) {
    .rightPart{
        margin-left: 70%;
    }
  }
   */
   
  @media only screen and (max-width: 1023px) {
    /* CSS rules for mobile devices go here */
    .rightPart {
      display: none;
    }
  }
  
.rightSideBar {
  position: sticky;
  bottom: 0;
}

/* .sideCards {
  position: sticky;
  top: 0;
} */