.sidebar {
    /* border-right: 1px solid white; */
    border: 1px solid white;
    flex: 0.3;
   /*  min-width: 250px; */
    /* margin-top: 20px; */
    padding-left: 20px;
    padding-right: 20px;
    margin-right: 1rem;
    border-radius: 1rem;
}

.sidebar__twitterIcon {
    color: #1DA1F2;
    font-size: 30px !important;
    margin-left: 20px;
    margin-bottom: 20px;
}

.sidebar__tweet {
    background-color: #1DA1F2 !important;
    border: none !important;
    color: white !important;
    font-weight: 900 !important;
    text-transform: inherit !important;
    border-radius: 30px !important;
    height: 50px !important;
    margin-top: 20px !important;
    /* margin-bottom: 10rem; */
}