

.gridMainContainer {
    height: 95vh;
    /* background-color: rgb(26, 26, 49); */
    background-color: rgb(162, 206, 206);
}

.tweetsContainer {
    /* background-color: rgb(26, 26, 49); */
    /* background-color: pink; */
    background-color: black;
    margin: -1rem;
    padding-left: 0;
}

.profileImg {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
}

.tweetHead {
    display: flex;
    align-items: flex-start;
    gap: .7rem;
    /* border: 1px solid grey; */
}

.namePara {
    display: flex;
    flex-direction: column;
    color: white;
}

.profileHead {
    display: flex;
    color: white;
    /* align-items: flex-start; */
}

.head4 {
    font-weight: 900;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mention {
    margin: .4rem;
    font-size: .7rem;
    font-family: 'Times New Roman', Times, serif;
}

.postContainer {
    /* border: 1px solid grey; */
}

.postImg {
    width: 40vw;
    border-radius: 10px;
    margin: 1rem 1rem 0 3.5rem;
}

.dots {
    color: white;
    margin-left: 6.5rem;
}

.iconsDiv {
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
    /* gap: rem; */
    width: 40vw;
    border-radius: 10px;
    margin: 1rem 1rem 1rem 3.5rem;
}

.count {
    color: grey;
}

.tweetDiv {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.tweet {
    color: grey;
    background-color: black;
    border: none;
    font-size: 1.3rem;
}

.tweetIcons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    /* flex-direction: column; */
}

.icons {
    display: flex;
    gap: 1.5rem;
    color: rgb(29, 161, 242);
    /* margin-left: 1rem 0 1rem 2rem; */
}

.tweetBtnDiv {

}

.tweetBtn {
    border: none;
    width: 4.5rem;
    height: 2rem;
    border-radius: 20px;
    background-color: rgb(29, 161, 242);
    color: white;
}






/* For mobile devices with a maximum width of 768px */
@media only screen and (max-width: 768px) {
    .header {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
      text-align: center;
    }
    .logo {
      width: 80%;
      margin-bottom: 20px;
    }
    .nav {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 20px;
    }
    .nav a {
      margin-bottom: 10px;
    }
    .main {
      padding: 20px;
    }
    .sidebar {
      display: none;
    }
    .footer {
      padding: 20px;
      text-align: center;
    }
  }
  
  /* For tablets with a maximum width of 1024px */
  @media only screen and (min-width: 769px) and (max-width: 1024px) {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
    .logo {
      width: 50%;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
    .nav a {
      margin-right: 20px;
    }
    .main {
      width: 70%;
      padding: 20px;
    }
    .sidebar {
      width: 30%;
      padding: 20px;
      display: block;
    }
    .footer {
      padding: 20px;
      text-align: center;
    }
  }
  
  /* For desktop devices with a minimum width of 1025px
  @media only screen and (min-width: 1025px) {
    .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
    .logo {
      width: 20%;
    }
    .nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 20px;
    }
    .nav a {
      margin-right: 20px;
    }
    .main {
      width: 70%;
      padding: 20px;
    }
    .sidebar {
      width: 20%;
      padding: 20px;
      display: block;
    }
    .footer {
      padding: 20px;
      text-align: center;
    }
  }
   */